.sb-sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu {
    flex-grow: 1;
}

.sb-sidenav .sb-sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
    padding: 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
    font-size: 0.9rem;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform 0.15s ease;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
    transform: rotate(-90deg);
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
    margin-left: 1.5rem;
    flex-direction: column;
}

.sb-sidenav .sb-sidenav-footer {
    padding: 0.75rem;
    flex-shrink: 0;
}

.sb-sidenav-dark {
    background-color: #7A040E;
    color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: rgba(255, 255, 255, 0.25);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: rgba(255, 255, 255, 0.25);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: rgba(255, 255, 255, 0.25);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
    color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
    color: #fff;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
    color: #fff;
}

.sb-sidenav-dark .sb-sidenav-footer {
    background-color: #343a40;
}

.sb-sidenav-light {
    background-color: #f8f9fa;
    color: #212529;
}

.sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: #adb5bd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link {
    color: #212529;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: #adb5bd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: #adb5bd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link:hover {
    color: #0d6efd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active {
    color: #0d6efd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
    color: #0d6efd;
}

.sb-sidenav-light .sb-sidenav-footer {
    background-color: #e9ecef;
}

.sb-topnav.navbar-dark #sidebarToggle {
    color: #000;
    margin-right: 3rem !important;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 360px;
    top: 56px;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
    width: 400px;
    height: 100vh;
    z-index: 1038;
}

.navbar-brand {
    padding-top: 2rem;
    text-align: center;
}

.nav {
    margin-top: 2rem;
    margin-left: 3rem;
}

.sb-nav-link-icon img {
    max-width: 26px;
}

.nav .nav-link .sb-nav-link-icon,
.sb-sidenav-menu .nav-link .sb-nav-link-icon {
    margin-right: 2rem;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
    color: #fff;
    background: #AC0D1B;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
    color: #fff;
    background: #AC0D1B;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
    border-bottom: 1px solid #AC0D1B;
}

.sb-topnav {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
}

.sb-topnav .navbar-brand {
    padding-top: inherit;
}


@media(max-width:1800px) {
    .sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
        width: 315px;
    }

    .sb-nav-fixed #layoutSidenav #layoutSidenav_content {
        padding-left: 315px;
    }

}

@media(max-width:1500px) {
    .sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
        width: 225px;
    }

    .nav {
        margin-top: 2rem;
        margin-left: inherit;
    }

    .sb-nav-fixed #layoutSidenav #layoutSidenav_content {
        padding-left: 230px;
    }
}