<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/complete-profile" method="POST">
        <input type="text" required name="name" placeholder="Your Name">
        <input type="email" required name="email" placeholder="Your Email" value="<%=email%>" disabled>
        <input type="tel" required name="phoneno" placeholder="Your Phone">
        <input type="submit" value="Submit" >
    </form>
</body>
</html>